<p>
    fireformgroup works!
  </p>
  
  
  <div class="jumbotron">
  
    <!-- form11 test -->
  <ul>
      <li class="text" *ngFor="let item of items | async">
        {{item.name}}, {{item.email}}, {{item.message}}
      </li>
    </ul>
    <!-- ends -->
    </div>
  
  
  
  
  <div class="jumbotron">
      <!-- form11firebase reativeforms -->
  <form [formGroup]="myForm" [hidden]="success" (ngSubmit)="submitHandler()">
      <input formControlName="email">
      <span *ngIf="email.invalid && email.touched">
          Your email does not look right
      </span>
      <input formControlName="name">
      <span *ngIf="message.invalid && message.touched">
          Required field
      </span>
      <input formControlName="message">
      <span *ngIf="message.invalid && message.touched">
          Required field
      </span>
      <button class="btn btn-primary" [disabled]="myForm.invalid">submit</button>
    </form>
    <!-- ends -->
  
    <div *ngIf="success" class="notification is-success">
        <h1>submit success</h1>
      </div>
  
  </div>
  