<div class="container-fluid">
        
      <div class="container-fluid">
      
      <!-- start productvideo1learnmore -->
      <app-productvideo1learnmore></app-productvideo1learnmore>
      
      
        <!-- start form  -->
      <app-form></app-form>

    <!-- start customertype123  -->
    <app-customertype123></app-customertype123>

<app-services1photoslides></app-services1photoslides>



<h1></h1>
</div>
<p class="lead">
    <a class="btn btn-primary btn-lg ml-2 mt-2" [routerLink]="['../about']" role="button">How it works</a>
  </p>
</div>